//brand colors
$primary-color: #116acc;
$mirage-color: #182233;
$periwinkle-gray: #b3cee2;
$geyser-color: #d9dde7;
$carnation-color: #fd4e5d;

//gray colors
$black: #000;
$ebony-clay-color: #1f2937;
$oxford-blue: #374151;
$river-bed-color: #4b5563;
$pale-sky-color: #6b7280;
$gray-chateau-color: #9ca3af;
$mischka-color: #d1d5db;
$athens-gray: #f3f4f6;
$white: #fff;

//state colors
$info-color: #a0c3ff;
$success-color: #76ca66;
$warning-color: #fbc756;
$error-color: #ba0000;
$havelock-blue:#5897db;
$venice-blue: #0c4a8f;

$ubuntu: 'Ubuntu', Arial, sans-serif;
$ws: 'Work Sans', Arial, sans-serif;
